<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find imarc_gazebo)/worlds/buoy.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="gui" value="false"/>
  </include>
</launch>
