<launch>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-20"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="world_frame" default="/world"/> 

  

	<!-- converts xacro file into sdf -->
	 <param name="robot_description" command="$(find xacro)/xacro '$(find imarc_description)/urdf/imarc.xacro'" />

	<!-- uses sdf to spawn imarc robot -->	
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -sdf -z 2 -model imarc" />

	<!-- publishs to /tf, these give transfroms from the boat to object on the boat such as lidar and camera -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />	

	<!-- publishes the odom tf frame, this gives transfrom from world to boat -->
	<node pkg="ros_sim" type="odom" name="odom_publisher"/>

	<!-- runs gmapping, publishes to topic /map -->
	<node pkg="gmapping" type="slam_gmapping" name="gmapping_node" launch-prefix="valgrind">
		<remap from="scan" to="/reformatted_scan"/>
		<param name="base_frame" value="body"/>
		<param name="angularUpdate" type="double"  value="0.0"/>
		<param name="linearUpdate" type="double" value="0.0"/>
	</node> 

	<!-- launch rviz 	
	<node name="rviz" pkg="rviz" type="rviz"/>-->

</launch>
